<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="false"
>
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<hr>

<!--<div class="grid" [formGroup]="dataForm">
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
        <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="customer"
               [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('customer', dataForm) }">
            <label>Cliente</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
       <span class="p-input-icon-left p-float-label">
        <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="plant"
               [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('plant', dataForm) }">
            <label>Planta</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
        <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="plant_user"
               [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('plant_user', dataForm) }">
            <label>Usuario en planta</label>
        </span>

        &lt;!&ndash;<span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el usuario en planta.
        </span>&ndash;&gt;

    </div>
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-input-icon-left p-float-label">
           <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="customer_reference"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('customer_reference', dataForm) }">
            <label>Referencia cliente</label>
        </span>

        &lt;!&ndash;<span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el usuario en planta.
        </span>&ndash;&gt;

    </div>

</div>

<div class="grid" [formGroup]="dataForm">

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="area"
               [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('area', dataForm) }">
            <label>Área</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="plc_mark"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('plc_mark', dataForm) }">
            <label>Marca plc</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="entrances_and_exits"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('entrances_and_exits', dataForm) }">
            <label>Entrada y Salida</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="voltage"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('voltage', dataForm) }">
            <label>Voltaje</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>

</div>

<div class="grid" [formGroup]="dataForm">

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="amperage"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('amperage', dataForm) }">
            <label>Amperaje</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="paint_code"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('paint_code', dataForm) }">
            <label>Código Pintura</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>
    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="paint_mark"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('paint_mark', dataForm) }">
            <label>Marca Pintura</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
          <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="cycle_time"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('cycle_time', dataForm) }">
            <label>Ciclo de Vida</label>
        </span>
        &lt;!&ndash;    <span class="text-sm" [ngStyle]="{'color': '#B00020'}" *ngIf="sharedService.fieldInvalidForm('name', dataForm)">
             Favor de ingresar el nombre.
        </span>&ndash;&gt;

    </div>

</div>

<div class="grid" [formGroup]="dataForm">

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

       <span class="p-float-label">
         <p-autoComplete formControlName="project_types" [showEmptyMessage]="true" [suggestions]="filteredProjectTypes"
                         [dropdown]="true" [multiple]="true"
                         (completeMethod)="filterProjectType($event)" field="name" [minLength]="1" appendTo="body"
                         [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('project_types', dataForm) }">
          </p-autoComplete>
        <label>Tipo Proyecto</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-float-label">
             <p-autoComplete formControlName="energy_types" [showEmptyMessage]="true" [suggestions]="filteredEnergyTypes"
                             [dropdown]="true" [multiple]="true"
                             (completeMethod)="filterEnergyType($event)" field="name" [minLength]="1" appendTo="body"
                             [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('energy_types', dataForm) }">
              </p-autoComplete>
             <label>Tipo Energia</label>
         </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-float-label">
             <p-autoComplete formControlName="design_types" [showEmptyMessage]="true" [suggestions]="filteredDesignTypes"
                             [dropdown]="true" [multiple]="true"
                             (completeMethod)="filterDesignType($event)" field="name" [minLength]="1" appendTo="body"
                             [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('design_types', dataForm) }">
              </p-autoComplete>
             <label>Tipo Diseño</label>
         </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-float-label">
             <p-autoComplete formControlName="electric_types" [showEmptyMessage]="true" [suggestions]="filteredElectricTypes"
                             [dropdown]="true" [multiple]="true"
                             (completeMethod)="filterElectricType($event)" field="name" [minLength]="1" appendTo="body"
                             [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('electric_types', dataForm) }">
            </p-autoComplete>
            <label>Tipo Eléctrico</label>
        </span>

    </div>

</div>

<div class="grid" [formGroup]="dataForm">

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

        <span class="p-float-label">
         <p-autoComplete formControlName="manufacture_types" [showEmptyMessage]="true" [suggestions]="filteredManufactureTypes"
                         [dropdown]="true" [multiple]="true"
                         (completeMethod)="filterManufactureType($event)" field="name" [minLength]="1" appendTo="body"
                         [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('manufacture_types', dataForm) }">
          </p-autoComplete>
        <label>Tipo Manufactura</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

       <span class="p-float-label">
         <p-autoComplete formControlName="standard_types" [showEmptyMessage]="true" [suggestions]="filteredStandardTypes"
                         [dropdown]="true" [multiple]="true"
                         (completeMethod)="filterStandardType($event)" field="name" [minLength]="1" appendTo="body"
                         [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('standard_types', dataForm) }">
          </p-autoComplete>
        <label>Tipo Standard</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-float-label">
             <p-autoComplete formControlName="work_height_types" [showEmptyMessage]="true" [suggestions]="filteredWorkHeightTypes"
                             [dropdown]="true" [multiple]="true"
                             (completeMethod)="filterWorkHeightType($event)" field="name" [minLength]="1" appendTo="body"
                             [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('work_height_types', dataForm) }">
              </p-autoComplete>
             <label>Trabajo en altura</label>
         </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">
         <span class="p-float-label">
             <p-autoComplete formControlName="hot_work_types" [showEmptyMessage]="true" [suggestions]="filteredHotWorkTypes"
                             [dropdown]="true" [multiple]="true"
                             (completeMethod)="filterHotWorkType($event)" field="name" [minLength]="1" appendTo="body"
                             [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('hot_work_types', dataForm) }">
            </p-autoComplete>
            <label>Trabajo en Caliente</label>
        </span>

    </div>

</div>

<div class="grid" [formGroup]="dataForm">

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

        <span class="p-float-label">
         <p-autoComplete formControlName="loading_equipment_types" [showEmptyMessage]="true" [suggestions]="filteredLoadingEquipment"
                         [dropdown]="true" [multiple]="true"
                         (completeMethod)="filterLoadingEquipmentType($event)" field="name" [minLength]="1" appendTo="body"
                         [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('loading_equipment_types', dataForm) }">
          </p-autoComplete>
        <label>Equipo de Carga</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

        <span class="p-input-icon-left p-float-label">
            <i class="pi pi-pencil"></i>
            <input pInputText type="text" formControlName="psi_mpa"
                   [ngClass]="{'ng-invalid ng-dirty': sharedService.fieldInvalidForm('psi_mpa', dataForm) }">
            <label>Psi/Mpa</label>
        </span>

    </div>

    <div class="flex align-items-center justify-content-center col-12 md:col-6 lg:col-3">

         <span class="p-float-label">
        <textarea pInputTextarea formControlName="project_requirement" rows="3" cols="30" [autoResize]="true">
         ></textarea>
        <label>Requerimiento general del proyecto...</label>
      </span>

    </div>

</div>-->

<p>Estas seguro de Eliminar el Requermiento: <span style="color: red">{{name}}</span></p>

<hr>

<div class="grid" [formGroup]="dataForm">
    <div class="flex align-items-center justify-content-center col">
        <p-button (click)="close()" label="Cancelar" type="button"
                  styleClass="p-button p-button-rounded p-button-secondary">
        </p-button>
    </div>
    <div class="flex align-items-center justify-content-center col">
        <p-button *ngIf="config.data.type === 'add'" (click)="save()"
                  [disabled]="dataForm.invalid"
                  label="Guardar" type="button" styleClass="p-button p-button-rounded">
        </p-button>

        <p-button *ngIf="config.data.type === 'edit'" (click)="update()"
                  [disabled]="dataForm.invalid"
                  label="Editar" type="button" styleClass="p-button p-button-rounded">
        </p-button>

        <p-button *ngIf="config.data.type === 'delete'" (click)="delete()"
                  [disabled]="dataForm.invalid"
                  label="Eliminar" type="button" styleClass="p-button p-button-rounded">
        </p-button>
    </div>
</div>



