<p-tabView [scrollable]="true">
        <p-tabPanel header="Tipo Proyecto">
            <app-project-types></app-project-types>
        </p-tabPanel>
        <p-tabPanel header="Tipo Diseño">
            <app-design-types></app-design-types>
        </p-tabPanel>
        <p-tabPanel header="Eléctrico">
            <app-electric-types></app-electric-types>
        </p-tabPanel>
        <p-tabPanel header="Energía">
            <app-energy-types></app-energy-types>
        </p-tabPanel>
        <p-tabPanel header="Manufactura">
            <app-manufacture-types></app-manufacture-types>
        </p-tabPanel>
        <p-tabPanel header="Estandar">
            <app-standard-types></app-standard-types>
        </p-tabPanel>
        <p-tabPanel header="Trabajo Altura">
            <app-work-height-types></app-work-height-types>
        </p-tabPanel>
        <p-tabPanel header="Trabajo en Caliente">
            <app-hot-work-types></app-hot-work-types>
        </p-tabPanel>
        <p-tabPanel header="Equipo de Carga">
            <app-loading-equipment-types></app-loading-equipment-types>
        </p-tabPanel>

    </p-tabView>

