/*@import "src/assets/styles/helpers";

::ng-deep.login-screen {
  @include bg-image($uri: '/assets/images/login.jpg', $size: cover, $position: center);
  @include flex($dir: column, $ai: center, $jc: center);

  height: 100vh;
  color: var(--light-0);
  position: relative;

}*/

