
<hr>
<div class="flex align-content-center flex-wrap" >
    <div class="flex align-items-center justify-content-center col-12 p-fluid">

        <span>Error algo anda mal</span>
    </div>

</div>
<hr>

<div class="grid gap-1">
    <div class="flex align-items-center justify-content-center xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <p-button (click)="close()" label="Cerrar" type="button"
                  styleClass="p-button p-button-rounded p-button-secondary">
        </p-button>
    </div>
    <!-- <div class="flex align-items-center justify-content-center xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <p-button (click)="close()" label="Cancelar" type="button"
                  styleClass="p-button p-button-rounded p-button-secondary">
        </p-button>
    </div>

    <div class="flex align-items-center justify-content-center xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <p-button *ngIf="config.data.type === 'add'" (click)="save()"
                  label="Guardar" type="button" styleClass="p-button p-button-rounded">
        </p-button>

    </div>-->
</div>



