/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";

// Style General

.status-danger {
    background-color: rgba(255, 205, 210, 0.86);
    color: #c63737;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.status-blue {
    background-color: rgba(179, 229, 252, 0.84);
    color: #23547b;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.7rem;
}

.status-green {
    background-color: rgba(200, 230, 201, 0.85);
    color: #256029;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: bold;
}
